@import 'src/sass/base/variables';
* {
    font-family: 'Museo Sans Cyrl', sans-serif;
}

.container {
    max-width: 950px;
    margin: 0 auto;
}

@import 'src/sass/blocks/promo';
@import 'src/sass/blocks/header';
@import 'src/sass/blocks/buttons';
@import 'src/sass/blocks/advantages';
@import 'src/sass/blocks/title';