.advantages {
    padding: 74px 0 68px 0;
    background-color: #F6F6F6;
    &__icons {
        margin-top: 60px;
        display: flex;
        justify-content: space-between;
    }
    &__item {
        display:flex;
        flex-direction: column;
        text-align:center;
        max-width: 238px;
    }
    &__icon {
        display: block;
        width: 70px;
        margin: 0 auto;
     }
    &__subtitle {
        margin-top: 38px;
        font-weight: 700;
        font-size: 18px;
        color: #0D0D0D;
    }
    &__descr {
        margin-top: 26px;
        color:#0D0D0D;
        font-size: 14px;
        font-weight: 300;
        text-align: center;
        a {
            color: #FF0000;
            text-decoration-line: underline;
        }
    }
    }